h2{
    text-align: center;
    color: darkred;
}
p{
    text-align: center;
    width:60%;
    font-size: 13px;
    margin:auto;
}
h3,h6{
    text-align: center;
    margin:10px 0;
}
img{
    margin: auto;
    display: block;
    width:100%;
}
.teacher{
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}